# Root
.env
medstock-backend/.env
*.log

# Java / Maven
medstock-backend/target/
medstock-backend/.m2/
medstock-backend/.mvn/wrapper/maven-wrapper.jar

# Node / Vite
medstock-frontend/node_modules/
medstock-frontend/dist/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
